body{
	margin: 10px;
	color: #000000;
	font-family: "Roboto Flex", sans-serif;
}

a {
	color: #005191;
}

a:hover {
	color: #07477A;
}

a:active {
	color: #07477A30;
}

a:visited {
	color: #539ED0;
}



.calculator {
	text-align: center;
	margin: 10px auto;
	width: 100%;
	padding: 20px;
	background-color: #eee;
	border: 3px solid #ddd;
	border-radius: 6px;
}
@media (min-width: 768px) {
	.calculator {
  	width: 350px;
  }
}
h2 {
	font-size: 150%;
	border-bottom: 1px solid #ddd;
	margin-bottom: 16px;
	padding-bottom: 16px;
}
#calc_total {
	margin-bottom: 8px;
	text-align: center;
}
#calc_activity {
	margin-top: 22px;
}
.step-total {
	font-weight: bold;
	font-size: 300%;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}
.hidden-content {
	display: none;
}
.cheeky {
	margin-top: 15px;
	color: #777;
	font-style: italic;
}

.calc-button {
	background-color: #539ED0;
	border-color: #07477A;
}

.btn-primary:hover {
	color: #ffffff;
	background-color: #005191;
	border-color: #07477A;
	box-shadow: 1px 1px 1px #545454;
	transform: translateY(-1px)
}

.btn-primary:active {
	background-color: #07477A!important;
	transform: none!important;
	border-color: #07477A!important;
	box-shadow: none!important;
}

.logo {
	height: 90%;
	width: auto;
	margin: 0 auto 0 auto;
	padding: 0;
}

.title-bar {
	height: 20vh;
	display: flex;
	flex-direction: row;
	padding-bottom: 30px;
}
.flex-spacer {
	margin: 0 auto 0 auto;
}

h1 {
	color: #005191;
	font-family: "League Gothic", sans-serif;
}

.title-bar h1 {
	margin: 30px auto 0 auto;
	padding-bottom: 30px;
}

@media (max-width: 768px) {
	.flex-spacer {
		display: none;
	}
	.title-bar {
		flex-direction: column;
	}
	.logo {
		height: 100px;
	}
	.calculator {
		margin-top: 20vh;
		padding-top: 20px;
	}
}

.footer {
	position: fixed;
	left: 0;
	top: 96vh;
	height: 4vh;
	color: #CCCCCC;
	font-size: 0.7em;
	font-family: "Roboto Condensed", sans-serif;
	width: 100%;
	text-align: left;
	padding: 2px 0 2px 30px;
	background-color: #ffffff;
	overflow: hidden;
	z-index: 300;
}

@media (max-height: 600px) {
	.footer {
		top: calc(100vh - 35px);
		height: 35px;
	}
}
